html,
body {
  height: 100%;
  
}


:root {
  --send-bg: #0b93f6;
  --send-color: white;
  --receive-bg: #e5e5ea;
  --receive-text: black;
  --page-background: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  background: inherit;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #1892cb;
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #229fff;
}

.navlinkss {
  color: #1892cb;
  font-size: large;
}
#logolink {
  text-decoration: wavy;
  font-style: italic;
}

:root {
  --text-color: #229fff;
}

.wrapper {
  display: grid;
  place-content: center;
  min-height: 2vh;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #229fff;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

.ghost {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 90px;
  height: 90px;
}
.ghost-in {
  position: relative;
  top: 0px;
  width: 50px;
  height: 50px;
}
.ghost-home {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 50px;
  height: 50px;
}
.fire-home {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 50px;
  height: 50px;
}
.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Authformtitle {
  color: #229fff;
  margin-bottom: 0cm;
}

.Authformtext {
  position: relative;
  color: black;
  font-size: small;
}

.homepagetxt {
  color: white;
}

/*All Nav styling hapa*/
.toplink {
  text-decoration: underline;
  text-decoration-color: orange;
  font-size: 19px;
}

.navwrapper1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
}
.navwrapper2 {
  width: 100%;
  display: flex;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0px;
  padding-top: 0px;
  flex: 1 1 auto;
  /* border-width:2px;
  border-style:solid;
  border-color:black;*/
}
.my-top-nav {
  width: auto;
  display: flex;
  flex-direction: column;
}

.nav2-item {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

.nav2 {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-icons {
  color: #229fff;
}
.nav-icons2 {
  color: black;
}
.nav-icons22 {
  color: red;
}

/*Container styling */

.homepage-ctnr {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}

.inner-ctnr {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}
.inner-ctnr-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: min-content;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.inner-ctnr-top-col {
  border-left-style: solid;
  border-width: 10px;
  border-color: #1892cb;
}
.inner-ctnr-bottom {
  width: 100%;
  display: flex;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.inner-ctnr-bottom1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  background-color: #f5f8ff;
}
.inner-ctnr-bottom2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  border-right-color: #f6ba59;
  border-right-style: solid;
  border-width: 10px;
  border-bottom: #fff;
  border-radius: 20px;
}

.homepage-section {
  width: 100%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0px;
  flex-direction: row;
}
@media screen and (max-width: 1184px) {
  .homepage-section {
    flex-direction: column;
  }
}

.homepage-section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0px;
}

.Overview-ctnr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.cntr-bottom-deets {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.Overview-txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.Overview-txt-txt {
  color: rgb(17, 25, 39);
  font-size: 2rem;
  font-weight: 500;
}
.inner-cntr1 {
  display: flex;
}
.inner-cntr2 {
  display: flex;
  padding-left: 10%;
  padding-top: 1px;
  height: 100%;
  width: 100%;
}

.icon-ctnr {
  display: flex;
  padding-top: 7%;
  padding-bottom: 10%;
  padding-left: 10%;
}
.streak-ctnr {
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 10%;
}

.streak-icon {
  color: green;
}
.ctnr-heading {
  margin: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.57;
  color: rgb(108, 115, 127);
}
.ctnr-heading2 {
  margin: 0px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: rgb(108, 115, 127);
}

.ctnr-txt {
  margin: 0px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(17, 25, 39);
}

.pix-home {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.pix {
  width: 300px;
}

.caro-div {
  overflow: hidden;
  margin-top: 3px;
  width: 80%;
  height: 100%;
  border-radius: 30px;
}
/* FILEPATH: /home/simp/SchoolWork/AnonyMate/AnonyMate/frontend/src/App.css */
/* BEGIN: ed8c6549bwf9 */

.imgcdiv {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 50px;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  justify-content: center;
}
.emji{
  margin-left: 0px;


}
.quotes {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}
.pet-img-div {
  display: flex;
  flex-direction: column-reverse;
  height: 70%;
  width:300px;
  position: relative;
  border-radius: 30px;
  background-color: #3c4043;
  overflow: hidden;
  border-color: orange;
  border-style: groove;
}

.catpic {
  height: 100%;
  width: 100%;  
  
}
/* END: ed8c6549bwf9 */

.chat-cntr {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  height: 800px;
}
.chat-convo-cntr {
  display: flex;
  flex-direction: column;
  background-color: #779bf3;
  height: 700px;
  overflow-y: scroll;
}

.chat-inbox-cntr {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.chat-users-cntr {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #f5f8ff;
  height: 700px;
  overflow-y: scroll;
}

.chat-header {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color:#779bf3;
  color: #229fff;
  margin-bottom: 20px;
}

.chathdr{
  margin-left: 10px;

}

.members-header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #f5f8ff;
  color: #229fff;
}

.inbox-header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #229fff;
  background-color: #779bf3;
  border: #1892cb;
}

.messageBox {

  position: absolute;
  bottom: 0;
  height: 50px;
  line-height: 1.5;
  width: 90%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
}
.message-box-cntr {
  display: flex;
  flex-direction: column;
  background-color: #282535;
  height: 100%;
  position: relative;
  padding: 10px;
}

.chat::-webkit-scrollbar {
  width: 0.1rem;
}

.chat::-webkit-scrollbar-track {
  background: #d75d1f;
}

.chat::-webkit-scrollbar-thumb {
  background: #6649b8;
}


.send-msg {
  background-color: #229fff;
  width: 5%;
  display: flex;
  justify-content: center;
}

.message1 {
  color: #100a0a;
  border: 1px solid black;
  height: 40px;
  width: 100px;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  background-color: #2f64e1;
  justify-content: left;
}

.message {
  color: var(--send-color);
  background: var(--send-bg);
  align-self: flex-end;
  border-radius: 20px;
  height: fit-content;
}

.message1 {
  color: var(--send-color);
  background: var(--send-bg);
  align-self: flex-start;
  border-radius: 20px;
  height: fit-content;
}
.messagehold {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  max-height: 500px; /* Set a maximum height for the container */
  overflow-y: auto;
  padding-right: 10px; /* Add a vertical scrollbar if needed */
  padding-left: 10px; /* Add a vertical scrollbar if needed */
}

.message-txt {
  max-width: 455px;
  min-width: 100px;
  word-wrap: break-word;
  line-height: 24px;
  position: relative;
  padding: 2% 10px;
  border-radius: 25px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
  }
}

/* CSS */
.button-10 {
  display: flex;
  padding: 6px 14px;
  border-radius: 18px;
  color: #100a0a;
  height: 40px;
  background-color: #229fff;
}
.button-10-b {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin-bottom: 40px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 600;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.8125rem;
  line-height: 1.75;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  border-radius: 12px;
  text-transform: none;
  padding: 7px 12px;
  margin-top: 10px;
  height: 20px;
}
.button-10-b:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
  letter-spacing: 0.75px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 50px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

header {
  padding: 1rem 0;
}

.main-content {
  margin-top: 2rem;
  height: 600px; /* set a fixed height */
  overflow-y: auto; /* add overflow-y and set to auto */
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
}

.product-detail {
  padding: 0 2rem;
}

.product-price {
  font-weight: bold;
  font-size: 140%;
}

.joinbtn {
  color: #229fff;
}

.leavebtn {
  color: red;
}
/*Buttons below*/

.create-grp {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
}

.catpic-details {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  height: 70%;
  position: relative;
  overflow: hidden;
}

.catdeets {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#hometexts {
  font-weight: 300;
  color: rgb(17, 25, 39);
}

.unamespan {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 400;
  justify-items: space-around;
}

.unametxtx {
  color: #b69f43;
  font-size: x-large;
  margin-bottom: 0;
}

#quoteds {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

/* 
// 12 - CSS3 Blockquote Effects Demo
// Made with ❤ by @Pawan_Mall
// http://www.pawanmall.net 
*/

@import url("https://fonts.googleapis.com/css?family=Montez");
@import url(https://fonts.googleapis.com/css?family=Francois+One);

body {
  background: #f5f7fa;
  margin: 10px;
  padding: 10px;
}

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover {
  color: #666;
}

blockquote em {
  font-style: italic;
}

/*Default Color Palette*/
blockquote.default {
  border-left-color: #656d77;
  border-right-color: #434a53;
}

/*Grapefruit Color Palette*/
blockquote.grapefruit {
  border-left-color: #ed5565;
  border-right-color: #da4453;
}

/*Bittersweet Color Palette*/
blockquote.bittersweet {
  border-left-color: #fc6d58;
  border-right-color: #e95546;
}

/*Sunflower Color Palette*/
blockquote.sunflower {
  border-left-color: #ffcd69;
  border-right-color: #f6ba59;
}

/*Grass Color Palette*/
blockquote.grass {
  border-left-color: #9fd477;
  border-right-color: #8bc163;
}

/*Mint Color Palette*/
blockquote.mint {
  border-left-color: #46cfb0;
  border-right-color: #34bc9d;
}

/*Aqua Color Palette*/
blockquote.aqua {
  border-left-color: #4fc2e5;
  border-right-color: #3bb0d6;
}

/*Blue Jeans Color Palette*/
blockquote.bluejeans {
  border-left-color: #5e9de6;
  border-right-color: #4b8ad6;
}

/*Lavander Color Palette*/
.lavander {
  border-left-color: #ad93e6;
  border-right-color: #977bd5;
}

/*Pinkrose Color Palette*/
blockquote.pinkrose {
  border-left-color: #ed87bd;
  border-right-color: #d870a9;
}

/*Light Color Palette*/
blockquote.light {
  border-left-color: #f5f7fa;
  border-right-color: #e6e9ed;
}

/*Gray Color Palette*/
blockquote.gray {
  border-left-color: #ccd1d8;
  border-right-color: #aab2bc;
}

.modalLeave {
  padding-right: 20px;
  align-items: center;
}

.gname {
  color: red;
}
/* These CSS classes used just for Demo purpose */

.ih {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.chat {
  --rad: 20px;
  --rad-sm: 3px;
  font: 16px/1.5 sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 5vh;
  scrollbar-width:none;
  gap:5px;

}

.msg {  
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 200px;
  margin-bottom: 10px;
  min-height: 24px;
  border-radius: 25px;
  position: relative;
  color: white;
  padding-left: 16px;
}

.msg.sent {
  background: #42a5f5;
  color: #fff;
  /* moves it to the right */
  margin-left: auto;
}

.msg.rcvd {
  background: #f1f1f1;
  color: #555;
  /* moves it to the left */
  margin-right: auto;
  margin-left: 8px;
}

/* Improve radius for messages group */

.msg.sent:first-child,
.msg.rcvd + .msg.sent {
  border-top-right-radius: var(--rad);
}

.msg.rcvd:first-child,
.msg.sent + .msg.rcvd {
  border-top-left-radius: var(--rad);
}

/* time */

.msg::before {
  content: attr(data-time);
  font-size: 0.8rem;
  position: absolute;
  bottom: 100%;
  color: #888;
  white-space: nowrap;
  /* Hidden by default */
  display: none;
}

.msg.sent::before {
  right: 15px;
}

.msg.rcvd::before {
  left: 15px;
}

.chatlistdiv {
  display: flex;
  flex-direction: column;
  height:fit-content;
  width:100%

}

.singlethread {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.thread-profile {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border-style: solid;
  border-color: #229fff;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: center;
  
}

.info-thread {
  width:100%;
  height: 50px;
  margin-top: 10px;
  flex-direction: column;
  padding: 0;
}



.gname-spn {
  font-weight: 600;
  font-size: large;
}

.desc-spn{
  font-size: medium;
  white-space: nowrap;
}

.info-thread-disc{
  overflow-y: hidden;
  width: 100%;
  display: flex;
  margin-bottom: 0; /* added this line */
}

.info-thread-gname{
  height: fit-content;
  margin-bottom: 0; /* added this line */
}

.chatlink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.iak {
  background-color: #5e9de6;
}

.section2-txt{
  display: flex;
  width:100%;
  justify-content: flex-end;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  margin-bottom: 0%;
}

.ldn-cntr {
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  
}

.ldn-paper-top{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ldn-div1 {
  display: flex;
}
.hero-paragraph{
  width: 600px; /* set your desired width */
  word-wrap: break-word;
}

.far-nav {
  display: flex;
  gap:2px;
  width: 100%;
  justify-content: flex-end; /* added this line */
}

.far-end {
  display: flex;
  height: auto;
  width: fit-content;
}

.landinf-cntr {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 10%;
  margin-top: 1%;    
}



.hero-main {
  display: flex;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  border-left-color: #5e9de6;
  border-right-color: #4b8ad6;
  height: max-content;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666;
  transform: rotateX('30');

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
}

.hero-main::before {
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

.hero-main::after {
  /*Reset to make sure*/
  content: "";
}

.hero-main span {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

.hero-par {
  display: flex;
  flex-direction: column;
  gap:2px;
}
.hero-par-low {
  display: flex;
  flex-direction: column;
  gap:2px;
  margin-top: 10px;
  margin-right: 40px;
  
}

.hero-main-txt{
  padding-right: 15%;
  padding-left:60px;
  display: flex ;
  align-items: center;
  justify-items: center;
  margin-bottom: 30px;

}

.hero-txt-2 {
  padding-left: 20%;
}

.hero-h1 {
  width: 500px;
  word-wrap: break-word;
  font-family: "Google Sans";
  font-size: 8rem;

}
.hero-h1-right {
  width: 400px;
  padding-top: 10px;
  
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


/* CSS */
.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.main-cntr-lnd {
  display:flex;
  flex-direction: column  ;
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 1%;
}

.cta{
  display:flex;
  flex-direction: column;
  margin-right: 7%;
  margin-left: 10%;
  margin-top: 1%;
  height: 100%;
  gap: 10px;
  flex: 1 1 auto;

}

.ctadiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.anonyteam {
  height: 600px;
}

.pixdivs {
  padding-left: 10%;
}

.Anony-info{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.h2t {
  font-family: 'Montserrat';
  line-height: 1em;
  font-size: 60px;
  text-decoration: underline;
 
}

.h3t {
font-family: 'Montserrat';
margin-top: 4em;
font-size: 30px;
line-height: 1.1em;
font-weight: 600;
}

.pt {
line-height: 1.66em;
margin: 0;
font-family: 'Lato';
font-size: 24px;
}

.feelings {
  color:#0b93f6;
}


.msgsender{
  color: #282535;
  margin-bottom: 0px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 80;
  
}
  
.mooddiv {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 1400px) {
  .mooddiv {
    width: 100%;
  }
}

.moodspan {
  margin-top: 30px;
}